
#external-events {
    position: fixed; 
    z-index: 1;
    top: 200px;
    left: 40px; 
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
}

.demo-topbar + #external-events { /* will get stripped out */
    top: 60px;
}

#external-events .fc-event {
    cursor: move;
    margin: 3px 0;
}

#calendar-container {
    position: relative;
    z-index: 1;
    margin-left: 300px;
}

#calendar {
    max-width: 1100px;
    margin: 20px auto;
}

.btn {
    position: absolute;
    top: 5px; 
    right: 5px; 
}

.fc-event-color-red { /* allowed to be top-level */
    display: block;
    border: 1px solid red;
    border: 1px solid var(--fc-event-border-color, red);
    background-color: red;
    background-color: var(--fc-event-bg-color, red)
  
  }