{% extends 'base.html' %} 

{% block head %}

<!-- install full calendar -->
<link href="{{ url_for('static', filename='fullcalendar/main.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='fullcalendar/main.js') }}"></script>
<script>

  // pythonからevents(json)をうけとる
  let events_stored = {{ events | tojson }}; 
  
  document.addEventListener('DOMContentLoaded', function() {

    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, { // make global
      initialView: 'timeGridFourDay', 
      headerToolbar: {
        center: 'timeGridDay,timeGridFourDay' // buttons for switching between views
      },
      views: {
        timeGridFourDay: {
          type: 'timeGrid',
          duration: { days: 4 },
          buttonText: '4 day'
        }
      }, 
      events: events_stored,
      editable: true
    });

    // render calendar 
    calendar.render();

    // ajax
    $('#form').on('submit',function(event){
  　　 // ②Ajax通信
      $.ajax({
        data : {
　　　　　　　// ③form内inputの値、リクエスト(POST or GET),リクエスト先のURLを記述
          date_start : $('#date-start').val(),
          date_end : $('#date-end').val(),
          event_title : $('#event-title').val(),
        },
        type : 'POST',
        url : '/cal/'
      })
　　  // ④formの下に結果を表示
      .done(function(data){
        // $('#output').text(data.output).show();
        // event追加してみる
        calendar.addEvent(data); 
        console.log(data);
      });
      event.preventDefault();
    });
    
    // update event changes
    calendar.on('eventChange', function(changeInfo){
      $.ajax({
        data: {
          event: {
            start : changeInfo.event.start.toISOString(), 
            end : changeInfo.event.end.toISOString(),
            title : changeInfo.event.title,
          }, 
          event_old: {
            start : changeInfo.oldEvent.start.toISOString(), 
            end : changeInfo.oldEvent.end.toISOString(),
            title : changeInfo.oldEvent.title,
          }
        }, 
        type : 'POST', 
        url : '/cal/update' 
      }); 
      console.log(changeInfo.event.start); 
    });

  });




</script>

{% endblock %}


{% block content %}

    <h3>This is Calendar Page</h3>

    <!-- try add event using Ajax via form -->
    <form id="form">
      <input type="text" placeholder="date start" id="date-start">
      <input type="text" placeholder="date end" id="date-end">
      <input type="text" placeholder="event title" id="event-title">
      <button type="submit" name="button">Add Event</button>
    </form>
    <div id="output"></div>

    <!-- render calendar -->
    <div id="calendar"></div>



{% endblock %}
