{% extends 'base.html' %} 

{% block head %}

<!-- install full calendar -->
<link href="{{ url_for('static', filename='fullcalendar/main.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='fullcalendar/main.js') }}"></script>
<script>

  // pythonからevents(json)をうけとる
  let events_stored = {{ events | tojson }}; 
  
  document.addEventListener('DOMContentLoaded', function() {

    var Calendar = FullCalendar.Calendar;
    var Draggable = FullCalendar.Draggable;

    var calendarEl = document.getElementById('calendar');
    var containerEl = document.getElementById('external-events');

    var calendar = new Calendar(calendarEl, { // make global
      initialView: 'timeGridFourDay', 
      headerToolbar: {
        center: 'timeGridDay,timeGridFourDay' // buttons for switching between views
      },
      views: {
        timeGridFourDay: {
          type: 'timeGrid',
          duration: { days: 4 },
          buttonText: '4 day' 
        }
      }, 
      events: events_stored,
      editable: true, 
      droppable: true
    });

    function makeDelete(){
      var frame = $('.fc-event-main-frame')
      if (frame != null) {
        $(".fc-event-main-frame").append(
          '<button id="delete-button" class="btn btn-primary btn-sm" type="button">delete</button>'
        )
      }; 
    };

    // render calendar 
    calendar.render();

    makeDelete();

    // create draggable
    new Draggable(containerEl, {
      itemSelector: '.fc-event',
      eventData: function(eventEl) {
        return {
          title: eventEl.innerText
        };
      }
    });

    // create event with external draggable element
    calendar.on('eventReceive', function(info){
      // note that = does not mean copy but reference in javascript 
      var start = info.event.start;
      var end = new Date(+start);
      end.setHours(start.getHours()+1); 
      console.log(start); 
      console.log(end); 
      $.ajax({
        data : {
          date_start : start.toISOString(),
          date_end : end.toISOString(),
          event_title : info.event.title
        },
        type : 'POST',
        url : '/cal/'
      })
      .done(function(data){
        // calendar.addEvent(data); 
        console.log(data);
        makeDelete(); 
        
      });
    });

    // update event changes
    calendar.on('eventChange', function(changeInfo){
      console.log(changeInfo.event.end);
      $.ajax({
        data: {
          event: {
            start : changeInfo.event.start.toISOString(), 
            end : changeInfo.event.end.toISOString(),
            title : changeInfo.event.title,
          }, 
          event_old: {
            start : changeInfo.oldEvent.start.toISOString(), 
            // end : changeInfo.oldEvent.end.toISOString(),
            title : changeInfo.oldEvent.title,
          }
        }, 
        type : 'POST', 
        url : '/cal/update' 
      }); 
      console.log(changeInfo.event.start); 
    });

    // delete event 
    $(document).on("click", "#delete-button", function(){
      console.log("say something!")
      var classes = $(this).parents('.fc-timegrid-event').attr('class')
      var id = classes.split("id-").slice(-1)[0]; 
      console.log(id); 
      var event = calendar.getEventById(id); 
      console.log(event); 

      event.remove();
      
      $.ajax({
        data : {
          id: id
        },
        type : 'POST',
        url : '/cal/delete'
      }); 
    });
    

  });


</script>

{% endblock %}


{% block content %}

    <h3>This is Calendar Page</h3>

    <!-- draggable elements -->
    <div id="external-events">
      <p>
        <strong>Draggable Events</strong>
      </p>
      <div class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event">
        <div class="fc-event-main draggable">Equiptment 1: {{g.user['username']}}</div>
      </div>
      <div class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event">
        <div class="fc-event-main draggable">Equiptment 2: {{g.user['username']}}</div>
      </div>
      <div class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event">
        <div class="fc-event-main draggable">Equiptment 3: {{g.user['username']}}</div>
      </div>
      <div class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event">
        <div class="fc-event-main draggable">Equiptment 4: {{g.user['username']}}</div>
      </div>
      <div class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event">
        <div class="fc-event-main draggable">Equiptment 5: {{g.user['username']}}</div>
      </div>
    </div>

    <!-- render calendar -->
    <div id="calendar-container">
      <div id="calendar" class="fc fc-media-screen fc-direction-ltr fc-theme-standard"></div>
    </div>



{% endblock %}
